.jobs-container {
  padding-top: 5rem;
}

.card-collection {
  text-align: center;
  background: #f5f5f5;
  padding: 0 0.5rem 1px 0.5rem;
}

.card-collection h2 {
  font-size: 2rem;
  padding: 2rem;
  padding-bottom: 1rem;
}

.navigation-btns {
  position: relative;
  width: 100%;
  max-width: 96%;
  margin: auto;
  background: rgba(90, 82, 255, 0.1);
  border-radius: 2rem;
  margin-block: 2rem;
  /* margin-inline: 1rem; */
}

.navigation-btns .highlight {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 33.33%;
  height: 100%;
  background: #5a52ff;
  border-radius: 2rem;
  /* z-index: -1; */
  transition: left 0.3s;
}

.navigation-btns p {
  position: relative;

  z-index: 20;
}

.navigation-btns button {
  position: relative;
  width: 33.33%;
  border: none;
  padding-block: 0.7rem;
  background: transparent;
  font-weight: 600;
}

.job-info__source {
  font-size: 14px;
}

.cardinfo__apply--jobs {
  padding: 0.27rem 2.2rem;
}

@media screen and (min-width: 600px) {
  .card-collection {
    /* padding: 2rem; */
  }

  .jobs-container {
    padding-top: 7rem;
  }

  .navigation-btns {
    margin-inline: auto;
    max-width: 50rem;
  }
}
